<div class="d-flex justify-content-end sm">
  <div class="text-white "><%= link_to t('versionE'), locale: "en" %></div>
  <div>&nbsp &nbsp&nbsp &nbsp</div>
  <div class="text-white"><%= link_to t('versionP'), locale: "pt-BR" %></div>
</div>