    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 1%">
                          #
                      </th>
                      <th style="width: 25%">
                          Nome
                      </th>
                      <th style="width: 20%">
                          E-mail
                      </th>
                      <th>
                          Data de Inclusão
                      </th>
                      <th style="width: 8%" class="text-center">
                          Status
                      </th>
                      <th style="width: 25%">
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>
                          #
                      </td>
                      <td>
                          <a>
                              Leandro da Costa Miranda
                          </a>
                      </td>
                      <td>
                         lcostamiranda@gmail.com
                      </td>
                      <td>
                          15/11/2020
                      </td>
                      <td class="project-state">
                          <span class="badge badge-success">Ativo</span>
                      </td>
                      <td class="project-actions text-right">
                          <a class="btn btn-success btn-sm" href="#">
                            <i class="fas fa-calendar-check"></i>
                              Editar
                          </a>
                          <a class="btn btn-info btn-sm" href="#">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Excluir
                          </a>
                          <a class="btn btn-danger btn-sm" href="#">
                            <i class="fas fa-share-square"></i>
                              Desativar
                          </a>
                      </td>
                  </tr>


                 
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->


