// Place all the styles related to the Usuarios controller here.
// They will automatically be included in application.css///.
// You can use Sass (SCSS) here: https://sass-lang.com/
//a { color:#fff !important; }
//a:hover, a:visited { color:#fff !important; }